<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<script type="text/JavaScript" th:src="@{../js/jquery-3.4.1.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form method="post">
    账户：<input type="text" name="username" id="username"/><br/>
    密码：<input type="password" name="password" id="password"/><br/>
    确认密码:<input type="text" name="passwd" id="passwd">
</form>
<button th:value="提交" onclick="dudu()"/>
<script>
    function  dudu() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var passwd=document.getElementById("passwd").value;
        if(password!=passwd){
            alert('密码不一致')
            $(location).attr('href', '/register');
        }else {
            $.ajax({
                url: "/register",
                type:'POST',
                dataType:'json',
                data:{
                    username:username,
                    password:password
                },
                success: function (result) {
                    if (result == 1) {
                        alert("注册成功");
                        $(location).attr('href', '/Signin');
                    }else if(result == 2){
                        alert("密码不能为空");
                        $(location).attr('href', '/register');
                    }else if(result == 3){
                        alert("账号不能为空");
                        $(location).attr('href', '/register');
                    } else {
                        alert("用户名已被注册");
                        $(location).attr('href', '/register');
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log('XMLHttpRequest:');
                    console.log(XMLHttpRequest);
                    alert('网络异常！尝试刷新网页解决问题')
                }
            });
        }
    }
</script>
</body>
</html>